/* Estilos generales para la sección 'Sobre mí' */
.about {
    display: flex;
    justify-content: center; /* Centra el contenido */
    padding: 40px 20px; /* Espaciado alrededor */
    background-color: #fff; /* Fondo blanco en modo claro */
}

/* Contenido de la sección */
.about-content {
    display: flex;
    flex-direction: column; /* Cambiar la dirección a columna */
    align-items: center; /* Centrar verticalmente */
    gap: 20px; /* Espacio entre imagen y texto */
}

/* Imagen de la sección */
.about-image {
    width: 150px;
    border-radius: 75px;
    box-shadow: 0px 0px 15px #8DF224;
    animation: bounceIn 1s ease-out;
    transition: transform 1.5s ease, box-shadow 0.3s ease; /* Aumenté el tiempo de transición */
    transform-style: preserve-3d; /* Permite que los efectos 3D funcionen correctamente */
    
  }
  
  @keyframes bounceIn {
    0% {
      transform: scale(0.5);
    }
    60% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .about-image:hover {
    transform: rotateY(360deg); /* Giro 3D completo en el eje Y */
    box-shadow: 0px 0px 25px rgba(141, 242, 36, 0.8); /* Sombra más intensa */
  }
  
/* Texto de la sección */
.about-text {
    max-width: 600px; /* Ancho máximo del texto */
    text-align: left; /* Alinear el texto a la izquierda */
}

/* Estilos para el título en modo claro */
.about h2 {
    font-size: 2.5rem; /* Tamaño del encabezado */
    letter-spacing: 1px; /* Espaciado entre letras */
}

/* Estilo para el párrafo en modo claro */
.about p {
    font-size: 1rem; /* Tamaño del texto */
    margin-top: 10px; /* Margen superior para el párrafo */
}

/* Modo oscuro */
.about.dark-mode {
    background-color: #222; /* Fondo oscuro para la sección */
}

.about.dark-mode h2 {
    color: #8DF224; /* Mantener el título verde en modo oscuro */
}

.about.dark-mode p {
    color: white; /* Texto blanco en modo oscuro */
}

.about.dark-mode .about-image {
    box-shadow: 0px 0px 15px #ff00bf7b; /* Sombra rosada en modo oscuro */
}
@media (max-width: 768px) {
    .about-content{
    margin-top: 10vh;
}
}
