/* General Styles */
body {
  margin: 0;
  font-family: 'Roboto Mono', monospace; /* Fuente moderna, futurista */
  line-height: 1.6; /* Espaciado de líneas para mayor legibilidad */
  background-color: white; /* Modo claro por defecto */
  transition: background-color 0.3s, color 0.3s;
  color: black;
}

.App {
  display: flex; /* Para usar flexbox en la disposición */
  min-height: 100vh; /* Asegúrate de que ocupe todo el alto de la ventana */
  background-color: white;
  color: black;
  transition: background-color 0.3s, color 0.3s;
}

.App.dark-mode {
  background-color: black; /* Fondo oscuro */
  color: white; /* Texto blanco en modo oscuro */
}

/* Layout Styles */
.layout {
  display: flex;
  flex-direction: row;
  height: 100vh; 
  overflow: hidden;
}

/* Header Styles */
.header {
  background-color: #f0f0f0;
  padding: 5px;
  height: 100%; /* El header ocupa toda la altura */
  width: 50vw; /* El header ocupa la mitad izquierda */
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header.dark-mode {
  background-color: #222;
}

.header a {
  color: black; /* Color del texto por defecto en modo claro */
  text-decoration: none; /* Sin subrayado */
  margin: 0 15px; /* Espaciado horizontal */
  font-weight: bold; /* Texto en negrita */
  transition: color 0.3s, transform 0.3s; /* Transición suave para color y transformación */
  font-size: 1.2rem; /* Tamaño de fuente */
  position: relative; /* Necesario para el efecto de pseudo-elemento */
}

/* Efecto al pasar el mouse */
.header a:hover {
  color: #8DF224; /* Cambia el color al pasar el mouse */
  transform: translateY(-3px); /* Efecto de levantamiento */
}

/* Agregar un pseudo-elemento para el subrayado animado */
.header a::after {
  content: ''; /* Necesario para el pseudo-elemento */
  display: block; /* Hacerlo un bloque para controlarlo */
  height: 2px; /* Altura del subrayado */
  background: #8DF224; /* Color del subrayado */
  width: 0; /* Inicialmente sin ancho */
  transition: width 0.3s ease; /* Transición suave para el ancho */
  position: absolute; /* Posicionar relativo al enlace */
  left: 50%; /* Centrar horizontalmente */
  bottom: -5px; /* Ubicarlo justo debajo del texto */
  transform: translateX(-50%); /* Centrar el subrayado */
}

/* Animación del subrayado al hacer hover */
.header a:hover::after {
  width: 100%; /* Expandir el ancho del subrayado al 100% al hacer hover */
}

/* Estilo para el enlace activo */
.header a.active {
  color: #ff00c1; /* Color para el enlace activo */
  border-bottom: 2px solid #8DF224; /* Subrayado inferior para resaltar el enlace activo */
}

/* Estilos para modo oscuro */
.header.dark-mode a {
  color: white; /* Color del texto en modo oscuro */
}

.header.dark-mode a:hover {
  color: #8DF224; /* Color al pasar el mouse en modo oscuro */
}

.header.dark-mode a.active {
  color: #ff00c1; /* Color para el enlace activo en modo oscuro */
  border-bottom: 2px solid #8DF224; /* Subrayado inferior en modo oscuro */
}
.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra el contenido verticalmente */
  align-items: center; /* Centra el contenido horizontalmente */
  margin-top: 130px;
}

.mode-toggle {
  cursor: pointer;
  margin-bottom: 30px; /* Añadir espacio entre el botón y los enlaces */
}


/* Main Styles */
.main-content {
  width: 50vw; /* Ocupa la mitad derecha */
  flex-grow: 1; 
 
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  overflow: auto; /* Permite el desplazamiento */
  
  transition: background-color 0.3s, color 0.3s; /* Transiciones suaves */
  position: relative; /* Necesario para el pseudo-elemento */
}

/* Para ocultar la barra de desplazamiento */
.main-content::-webkit-scrollbar {
  display: none; /* Oculta la barra de desplazamiento en navegadores WebKit */
}

/* Para Firefox, utiliza este truco para ocultar la barra de desplazamiento */
.main-content {
  scrollbar-width: none; /* Firefox */
}

.main-content.dark-mode {
  background-color: #222; /* Fondo oscuro en modo oscuro */
  color: white; /* Texto blanco en modo oscuro */
  height: 100vh;
}


/* Footer Styles */
.footer {
  background-color: #f0f0f0; /* Color de fondo claro */
  padding: 20px;
  text-align: center;
  color: black; /* Color de texto claro */
  transition: background-color 0.3s, color 0.3s; /* Transición suave para el cambio de modo */
  margin-top: auto; /* Asegura que el footer esté al final del contenedor */
}

.footer.dark-mode {
  background-color: #222; /* Fondo oscuro en modo oscuro */
  color: white; /* Texto blanco en modo oscuro */
  border-top: 1px solid #444; /* Borde superior en modo oscuro */
}

.footer-links a {
  margin: 0 10px; /* Espaciado entre los enlaces del footer */
  color: inherit; /* Asegura que los enlaces tengan el mismo color que el texto */
  text-decoration: none; /* Quita el subrayado por defecto */
}

.footer-links a:hover {
  text-decoration: underline; /* Subrayado al hacer hover */
}

/* Mode Toggle Styles */
.mode-toggle {
  position: relative;
  width: 60px;
  height: 30px;
  background-color: #f0f0f0; /* Fondo claro del interruptor por defecto */
  border: 2px solid #8DF224; /* Borde neón */
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 0 15px rgba(141, 242, 36, 0.5); /* Efecto neón */
}

.mode-toggle::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 5px;
  width: 20px;
  height: 20px;
  background-color: #8DF224; /* Color del círculo */
  border-radius: 50%;
  transition: transform 0.3s, box-shadow 0.3s;
  transform: translateY(-50%);
  box-shadow: 0 0 10px #8DF224, 0 0 20px rgba(141, 242, 36, 0.5); /* Efecto neón en el círculo */
}

.mode-toggle.active {
  background-color: #333; /* Fondo oscuro cuando está activo */
  box-shadow: 0 0 15px rgba(255, 0, 193, 0.5); /* Cambio del efecto neón */
}

.mode-toggle.active::before {
  transform: translate(30px, -50%); /* Mueve el círculo hacia la derecha */
  background-color: #ff00c1; /* Color neón rosado cuando está activo */
  box-shadow: 0 0 10px #ff00c1, 0 0 20px rgba(255, 0, 193, 0.5); /* Neón rosado en modo activo */
}

.mode-toggle-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  pointer-events: none; /* El texto no es clickeable */
}

.mode-toggle.active .mode-toggle-text {
  color: #ff00c1; /* Texto neón rosado en modo oscuro */
}

/* Heading Styles */
/* Variables de color */
:root {
  --color-neon-light: #FF1B8E; /* Rosa neón para modo claro */
  --color-neon-dark: #8DF224; /* Verde neón para modo oscuro */
}

body {
  background-color: #fff; /* Color de fondo para el modo claro */
  color: #000; /* Color de texto para el modo claro */
}

/* Estilos para el modo oscuro */
body.dark-mode {
  background-color: #121212; /* Color de fondo para el modo oscuro */
  color: #fff; /* Color de texto para el modo oscuro */
}

/* Estilos para los encabezados */
h1, h2 {
  color: var(--color-neon-light); /* Color rosa neón por defecto */
  font-weight: 600;
  text-align: center;
  margin: 20px 0;
  position: relative;
  font-size: 3rem; /* Puedes ajustar el tamaño según sea necesario */
  letter-spacing: 2px; /* Espaciado entre letras */
  text-shadow: 0 0 2px rgba(255, 0, 193, 0.7), 0 0 4px rgba(255, 0, 193, 0.7); /* Sombra de luz LED más suave */
  transition: text-shadow 0.3s; /* Transición suave para el efecto de sombra */
}

/* Estilos para el modo oscuro */
body.dark-mode h1, body.dark-mode h2 {
  color: var(--color-neon-dark); /* Color verde neón en modo oscuro */
  text-shadow: 0 0 3px var(--color-neon-dark), 0 0 5px var(--color-neon-dark); /* Sombra de luz LED más sutil en modo oscuro */
}

/* Agregar un efecto hover opcional para los encabezados */
h1:hover, h2:hover {
  text-shadow: 0 0 8px var(--color-neon-light), 0 0 12px var(--color-neon-light); /* Aumentar el efecto de luz LED al pasar el mouse */
}

/* Efecto hover en modo oscuro */
body.dark-mode h1:hover, body.dark-mode h2:hover {
  text-shadow: 0 0 8px var(--color-neon-dark), 0 0 12px var(--color-neon-dark); /* Aumentar el efecto de luz LED en modo oscuro */
}



/********** ESTILO BASE **********/
/* Skills Section Styles */
.skills-section {
  padding: 40px 20px;
  border-radius: 15px;
  transition: background 0.5s ease, color 0.5s ease;
  background: rgba(255, 255, 255, 0.8); /* Fondo ligeramente transparente */
}

/* Estilo para la sección de habilidades */
.skills-title {
  color: var(--color-neon-light); /* Color rosa neón por defecto */
  font-weight: 600;
  text-align: center;
  margin: 20px 0;
  position: relative;
  font-size: 3rem; /* Puedes ajustar el tamaño según sea necesario */
  letter-spacing: 2px; /* Espaciado entre letras */
  text-shadow: 0 0 2px rgba(255, 0, 193, 0.7), 0 0 4px rgba(255, 0, 193, 0.7); /* Sombra de luz LED más suave */
  transition: text-shadow 0.3s; /* Color rosa neón en modo claro */
}

/* Estilo para el modo oscuro */
body.dark-mode .skills-title {
  color: #8DF224; /* Color verde neón en modo oscuro */
}


.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding: 0;
  list-style-type: none;
}

.skill-item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.2rem;
  padding: 15px 25px; /* Más padding para un mejor efecto */
  border-radius: 10px;
  background: #f0f0f0; /* Color de fondo claro */
  color: #000; /* Color de texto en modo claro */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative; /* Necesario para efectos de sombra */
}

/* Efecto hover para las habilidades */
.skill-item:hover {
  transform: translateY(-5px); /* Levantar ligeramente al pasar el mouse */
  box-shadow: 0 8px 25px rgba(141, 242, 36, 0.3); /* Efecto de sombra al pasar el mouse */
  background: #e0e0e0; /* Cambio de color de fondo al hover */
}

.skill-icon {
  width: 30px; /* Ajusta el tamaño del ícono según tu diseño */
  height: 30px; /* Ajusta el tamaño del ícono según tu diseño */
}

/* Estilos en modo oscuro */
.skills-section.dark-mode {
  background: rgba(34, 34, 34, 0.8); /* Fondo oscuro ligeramente transparente */
}

.skills-section.dark-mode .skills-title {
  color: #8DF224; /* Mantener el color verde neón */
}

.skills-section.dark-mode .skill-item {
  background: #444; /* Color de fondo oscuro para los items */
  color: white; /* Color de texto blanco en modo oscuro */
}

.skills-section.dark-mode .skill-item:hover {
  background: #555; /* Color más claro al hover en modo oscuro */
}

/* Sections Styles */
.skills-section.dark-mode {
  background-color: #222; /* Fondo oscuro */
  color: white; /* Texto blanco */
}
.projects-section.dark-mode {
  background-color: #222; /* Fondo oscuro */
  color: white; /* Texto blanco */
}
.projects-section .contact {
  padding: 40px 20px;
  text-align: center;
}

/* Projects Grid Styles */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

.project-card {
  background-color: #f0f0f0; /* Fondo claro en modo claro */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(141, 242, 36, 0.5); /* Efecto neón */
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: center;
}

.project-card.dark-mode {
  background-color: #222; /* Fondo oscuro en modo oscuro */
  color: white;
}

.project-card img {
  max-width: 100%;
  border-radius: 10px;
}

/* Contact Form Styles */
.contact form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0 auto;
  width: 50%;
}

.contact input, .contact textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #8DF224;
  background-color: #f0f0f0; /* Fondo claro en modo claro */
  color: black; /* Texto negro en modo claro */
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.contact input.dark-mode, .contact textarea.dark-mode {
  background-color: #222; /* Fondo oscuro en modo oscuro */
  color: white; /* Texto blanco en modo oscuro */
}

.contact button {
  background-color: #8DF224;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.contact button:hover {
  background-color: #00eaff; /* Efecto al pasar el mouse */
  transform: translateY(-3px); /* Efecto de levantamiento */
}
